/* ====================== General Style ====================== */
body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}


/* ====================== Banner ====================== */
header {
    background: #333;
    color: #fff;
    padding: 1rem;
    text-align: center;
}





/* ====================== Main Content ====================== */
main {
    flex: 1;
    display: flex;
}






/* ====================== Navigation ====================== */
nav {
    width: 100%;
    background: red;

    position: sticky;
    top: 0;

    display: flex;
    justify-content: center;
    z-index: 10;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;

    display: flex;
    flex-direction: row;
    gap: 1rem;
}

nav a {
    font-size: 1.5rem;
    border-radius: 8px;
    padding: 0.5rem 1rem;
    display: block;
}

nav a:hover {
    background-color: #333;
    color: white;
}

nav a:visited, nav a:active, nav a:focus {
    color: inherit;
}



/* ====================== Footer ====================== */
footer {
    background: #333;
    color: #fff;
    text-align: center;
}





