/* ====================== General Style ====================== */
body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}


/* ====================== Banner ====================== */
header {
    background: #333;
    color: #fff;
    padding: 1rem;
    text-align: center;
}





/* ====================== Main Content ====================== */
main {
    flex: 1;
    display: flex;
}






/* ====================== Navigation ====================== */
nav {
    width: 60px;
    background: red;

    position: sticky;
    top: 0;
    height: 100%;

    display: flex;
    /* flex-direction: column; */
    align-items: center;
    justify-content: flex-start;
    z-index: 0;
    overflow: hidden;
    position: relative;
}

nav a {
    font-size: 2rem;
    border-radius: 8px;
}

nav a:hover {
    background-color: #333;
}

nav ul {
    list-style: none;
    padding: 0;

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    align-items: center;

    display: flex;
    flex-direction: column;
    gap: 1rem;
 
    /* transform: translateY(0);
    transition: transform 0.5s ease; */
}

/* nav.scrolled ul {
    /* transform: translateY(calc(50vh - 50%)); */
    /* transform: none;
    transform: translateY(50px);
} */

nav a:visited, nav a:active, nav a:focus {
    color: inherit;
}



/* ====================== Footer ====================== */
footer {
    background: #333;
    color: #fff;
    text-align: center;
}





